<div *ngIf="beers">
  <section class="info-tiles">
    <div class="tile is-ancestor">
      <div class="columns is-multiline">
        <div class="tile is-parent is-3 column" *ngFor="let beer of beers | async">
          <article class="tile is-child box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64 is-1by3">
                  <img [src]="beer.image_url" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <strong>{{beer.name}}</strong>
                  <p class="block-with-text">
                    {{ beer.description }}
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
